<div class="card card-border border-accent w-3/5 bg-base-100 card-xl shadow-sm p-4">
  <div class="card-body">
    <statement>
      <preface class="sm: text-2xl md:text-3xl lg:text-5xl font-semibold">
        <%
          vote_count = statement.get_upvotes.size
          user_voted = Current.user.voted_for?(statement)

          if user_voted && vote_count == 1
            preface_text = "You agree that..."
          elsif user_voted && vote_count > 1
            other_count = vote_count - 1
            formatted_count = number_with_delimiter(other_count)
            preface_text = "You and #{formatted_count} other #{other_count == 1 ? 'person' : 'people'} agree that..."
          elsif vote_count == 1
            preface_text = "1 person agrees that..."
          elsif vote_count > 1
            formatted_count = number_with_delimiter(vote_count)
            preface_text = "#{formatted_count} people agree that..."
          else
            preface_text = "We agree that..."
          end
        %>
        <%= preface_text %>
      </preface>
      <br />
      <content class="sm: text-3xl md:text-5xl lg:text-7xl font-black leading-20">
        <%= statement.content %>.
      </content>
    </statement>
    <!-- <div class="justify-end card-actions">
      <button class="btn btn-primary">Buy Now</button>
    </div> -->
  </div>
</div>
