<div id="<%= dom_id statement %>">
  <div>
    <strong>Content:</strong>
    <%= statement.content %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= statement.author.email %>
  </div>

</div>
