<% content_for :title, "Editing statement" %>

<h1>Editing statement</h1>

<%= render "form", statement: @statement %>

<br>

<div class="flex gap-2">
  <%= link_to "Show this statement", @statement, class: "btn btn-lg text-lg" %>
  <%= link_to "Back to statements", statements_path, class: "btn btn-lg text-lg" %>
</div>
