<% content_for :title, "About" %>

<div class="prose max-w-none">
  <h1>About</h1>

  <h2>Why does this site exist?</h2>

  <p>Because I want a better world for my kids, and this is hopefully a little way towards that.</p>
  <p>I think we can all agree that politics are driven by personalities, not policy. The best policies, presented by an uncharismatic person, aren't going to be enacted. And a charismatic person, without strong policy, can be elected.</p>
  <p>So I guess this is my attempt to disassociate <i>what</i> we believe from <i>who</i> we believe, in an attempt to find that we all have more common ground than  we think.</p>

  <h2>Who is behind this website?</h2>

  <p>I am!</p>
  <p>I'm just a person. I can be reached using the <a href="/contact_form">contact form</a>.</p>

  <h2>What do you mean by axiomatic opinion?</h2>

  <p>I like math. I'm no good at it, but I like the way that the world of math builds upon simple ideas to create fantastic truths.</p>
  <p>Math uses <i>axiomatic proofs</i> -- unassailable truths that can be combined to construct greater truths. Like the 300-page proof that 1+1=2. But with that proof, we can create all of arithmetic. Wow!</p>
  <p>Opinions, on the other hand, are not proofs. They can never be. But once we accept that, we can still build greater truths. As long as we agree upon the fundamental ideas.</p>
  <p>The most excellent example of this process is towards beginning of the <a href="https://www.archives.gov/founding-docs/declaration-transcript">Declaration of Independence</a>:</p>
  <blockquote class="text-3xl">We hold these truths to be self-evident...</blockquote>
  <p>There's no proof, but we agree it's true. And once we <i>agree</i>, we can create awesome things.</p>


  <h2>How do I write one of these things?</h2>

  <p>The intention behind this website is to posit positive, lean statements that people can easily agree with.</p>
  <p>So when you write something, try to keep it short and <a href="https://en.wikipedia.org/wiki/Axiom">axiomatic</a> -- remember <a href="https://simple.wikipedia.org/wiki/Occam%27s_razor">Ockham's Razor</a> -- so that it's easy for someone to agree with it. So try to focus each statement on one concept. In the future, I'll be adding the ability to combine statements to form second-order statements.</p>
  <p>Also keep things positive, and avoid negative structures. Instead of writing "the world is not flat", write "the world is round". Agreeing with a negative doesn't allow for further progress.</p>
</div>
